body {
    font-family: 'Noto Sans';
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.375rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .875rem;
}

pre {
    background-color: #def;
    border: 1px solid #77c;
    width: 95%;
    padding: .5em;
}
